{% extends "layout/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="d-block d-md-flex justify-content-between align-items-end mb-4">
        {% include 'snippets/_breadcrumb.html' %}
        {% if perms.crm.add_company %}
            <div class="d-flex align-items-end gap-2">
                {% include "snippets/_import_button.html" %}
                {% include "snippets/_export_button.html" with  modal_id="contacts" %}
                <button 
                    class="btn btn-primary d-flex align-items-end gap-2 shadow"
                    data-bs-toggle="modal"
                    data-bs-target="#kt_modal"
                    hx-get="{% url 'crm:create_contact' %}"
                    hx-target="#kt_modal_content"
                    hx-swap="innerHTML"
                >
                    <i class="ki-duotone ki-plus fs-2"></i>
                    <span class="fw-semibold">{% trans 'contact' %}</span>
                </button>
            </div>
        {% endif %}
    </div>

    {% include "snippets/toolbar.html" %}

    <div id="contactTable" 
        class="table-responsive table-container"
        hx-get="{% url 'crm:list_contact' %}"
        hx-trigger="refresh_table from:body"
        hx-swap="innerHTML"
        hx-target="closest .table-responsive"
    >
        {% render_table table %}

    </div>

{% endblock content %}

{% block modal %}
    {% url 'crm:export_contact' as export_contacts_url %}
    {% include "popups/export_modal.html" with export_url=export_contacts_url modal_id="contacts" %}  

    {% url 'crm:import_contact' as import_contact_url %}
    {% include "popups/import_modal.html" with import_url=import_contact_url  %}
{% endblock modal %}

